body{
    margin: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.contents{
    height: 100%; /* 테스트를 위해 스크롤 생성 */
    /*border: 1px solid slategray;*/
    border-radius: 5px;
    margin: 40px 230px 0px 230px;
    padding: 0px;
    width: 53%;
    min-width: 700px;
    position: absolute;
    display: flex;
    z-index: 1;
}
@font-face {
    font-family: 'tenico';
    src: url("/font/tecnicoBold.ttf") format('truetype');
}
.tenico{
    font-family: tenico;
}
@font-face {
    font-family: 'UhBeehyemong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeehyemong.woff') format('woff');
    font-weight: normal; font-style: normal;
}
.beehyemong{
    font-family: UhBeehyemong;
}
@font-face {
    font-family: 'netmarbleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff') format('woff');
    font-weight: normal; font-style: normal;
}
.netmarbleM{
    font-family: netmarbleM;
}
.statusNav{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    width: 100%;
    height: 40px;
    list-style: none;
    margin: 0px 0 0 230px;
    padding: 0px;
    position: fixed;
    z-index: 99;
}
.statusNav li{
    margin: 5px 5px;
    padding: 8px 15px 0px 15px;
    text-align: center;
    float: left;
    font-family: tenico;
    font-size: 15pt;
    height: 35px;
}
.statusNav li:hover{
    background: #507592;
    color: white;
    cursor: pointer;
    border-radius: 3px 3px 0px 0px;
    transition: all .2s ease;
}
.no_drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
}
.myInfo{

}
.infoData{
    font-size: 15pt;
    font-family: tenico;
    padding: 5px;
}
.sell{
    border: 1px solid #537895;
    width:700px;
    margin: 5px;
    border-radius: 4px;
}
.dataText{
    width: 700px;
    display: inherit;
}
.dataInput{
    outline: none;
    border:0px;
    width: 70%;
    font-family: tenico;
    font-size: 14pt;
    margin: 5px 0px 5px 10px;
}
.dataInfo{
    font-size: 14pt;
    font-family: tenico;
    width: 25%;
    display: inline-block;
}
.paragraph{
    width: 100%;
}
.dataExplanation{
    font-family: tenico;
    font-size: 11pt;
    color: gray;
    width: 100%;
    display: block;
    margin: 5px;
    padding: 0;
}
.modifiedBtn{
    background: #507592;
    color:white;
    border: 0px;
    border-radius: 3px;
    outline: none;
}
.btnSet{
    z-index: 100;
    position: fixed;
    box-sizing: border-box;
    right: 0px;
    bottom: 0px;
    margin: 20px;
}
.btnSet button{
    color:white;
    border: 0px;
    border-radius: 3px;
    outline: none;
    font-size: 25pt;
    cursor: pointer;
    box-shadow: 3px 2px 9px 0px gray;
    padding: 5px 20px;
    margin-left: 20px;
}
.resetBtn{
    background: darkred;
}
.actionBtn{
    border: 0px;
    border-radius: 4px;
    padding: 5px 15px;
    text-align: center;
    font-size: 13pt;
    color: white;
    float: right;
    outline: none;
    cursor: pointer;
}
.no_Action{
    cursor: no-drop;
}
.categoryDeleteSelect{
    font-size: 15px;
    width: 400px;
    height: 25px;
    border: 1px solid #507592;
    border-radius: 4px;
}
.categoryUpdateSelect{
    font-size: 15px;
    width: 200px;
    height: 25px;
    border: 1px solid #507592;
    border-radius: 4px;
}
.categoryParentSelect{
    font-size: 15px;
    width: 200px;
    height: 25px;
    border: 1px solid #507592;
    border-radius: 4px;
}
.categoryUpdateInput{
    outline: none;
    border:0px;
    width: 50%;
    font-family: tenico;
    font-size: 14pt;
    margin: 5px 0px 5px 10px;
}
.categoryParentInput{
    outline: none;
    border:0px;
    width: 50%;
    font-family: tenico;
    font-size: 14pt;
    margin: 5px 0px 5px 10px;
}
.goGBookPage{
    width: 600px;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    font-size: 17pt;
    word-spacing:1px;
    background: #09203f;
    margin: 10px;
    color: white;
}
.goGBookPage:hover{
    background: #507592;
    transition: all .2s ease;
}
.btnParagraph{
    height: 50px;
}
.btnParagraph button{
    width: 100%;
    float: right;
    height: 50px;
    font-size: 20pt;
    background: #507592;
}
.btnParagraph button:hover{
    background: #527bac;
    box-shadow: 0px 0px 7px 0px gray;
    transition: all .2ms ease-in;
}
.dataTitleList{
    list-style: none;
    height: 30px;
}
.dataTitleList li{
    float: left;
    margin: 0px 5px;
    text-align: center;
    padding-top:10px;
}
.boardIndex_category{
    width: 150px;
    overflow: auto;
}
.boardIndex_title{
    width: 270px;
    overflow: auto;
}
.boardIndex_date{
    width: 140px;
    overflow: auto;
    text-align: center;
}
.boardIndex_visible{
    width: 80px;
    overflow: auto;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}
#dataContentList{
    font-family: "맑은 고딕";
    font-size: 10pt;
}
#dataContentList ul{
    list-style: none;
    height: 25px;
    display: inline-flex;
    margin: 3px 0px;
}
.dataContent li{
    float: left;
    margin: 0px 5px;
    padding:2px;
}
#dataContentList .boardIndex_visible:hover{
    background: #1A8BE8;
    color: white;
    transition: all 0.2s ease;
}