.postViewTitleOutBox{
    display: flow-root;
}
#postViewTitle{
    padding: 25px 20px;
    margin: 0px;

}
#layout{
    height: auto;
    margin: 0px 230px;
    padding: 0px;
    width: 70%;
    min-width: 700px;
    display: inline-block;
    /*border-bottom: 1px solid gray;*/
}
.postsInfo{
    display: -webkit-box;
    margin: 0px 20px 10px 20px;
    float: right;
}
.writerInfo{
    margin-right: 30px;
}
#listContainer{
    height: auto; /* 테스트를 위해 스크롤 생성 */
    /*border: 1px solid slategray;*/
    margin: 0px 230px;
    padding: 0px;
    width: 70%;
    background: #eee;
    min-width: 700px;
}
#listWrapper{
    padding: 20px;
    list-style: none;
    float: left;
    width: 100%;
    min-height: 176px;
}
.list_item{
    width: 100%;
    display: inline-flex;
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}
.list_item:hover{
    color:white;
    background: #507592;
    transition: all .2s ease;
}
.list_title{
    width:90%;
    min-width: 560px;
    max-width: 1210px;
    float: left;
}
.list_date{
    width:10%;
    min-width: 100px;
    max-width: 200px;
}
.list_item_active{
    font-weight: bolder;
}
#listNav{
    list-style: none;
    height: auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}
#listNav li{
    margin: 0px 5px;
    padding: 5px 10px;
    float: left;
    cursor: pointer;
}
#listNav li:hover{
    font-weight: bolder;
    transition: all .2s ease;
}
.list_index_active{
    font-weight: bolder;
}

/**
 * comment
 */
.comment{
    /*border: 1px solid slategray;*/
    border-radius: 5px;
    margin: 0px 230px;
    padding: 0px;
    width: 70%;
    min-width: 700px;
    transition: all .2s ease;
}
.comment_from{
    background: #eee;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
textarea.comment_content{
    overflow: auto;
    width: 98%;
    min-width: 650px;
    border: 0px;
    outline: none;
    margin: 1%;
    height: 60px;
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
}
.comment_submit{
    border: 0px;
    background: #537895;
    padding: 6px 30px;
    margin: 3px;
    color: white;
}
.comment_view_single{
    padding: 3px;
    margin: 4px 2px;
    border-radius: 6px;
    background: #eee;
    width: 100%;
    display: inline-block;
    min-width: 73px;
    transition: all .2s ease;
}
.comment_password{
    border: 0px;
    margin: 0px 20px;
    padding: 3px;
    width: 200px;
    outline: none;
}
.comment_info{
    margin: 5px;
    color: gray;
    display: inherit;
}
.comment_content{
    margin: 2px;
}
.comment_info_writer{
    float: left;
    font-size: 12pt;
}
.comment_info_date{
    font-size: 8pt;
    margin-left: 20px;
    display: inline-block;
}
.btn{
    border: 0px;
    outline: none;
    margin: 2px;
    padding: 5px 10px;
}
.update_btn{
    color: white;
    background: #00a8c6;
}
.delete_btn{
    color: white;
    background: indianred;
}
.btn_box{
    float: right;
    display: none;
    transition: all .2s ease;
}
.comment_view > div:hover >.btn_box{
    display: block;
    transition: all .2s ease;
}
.comment_view_not_found{
    text-align: center;
}
.comment_view_not_found_text{
    margin: 25px;
    font-size: 20pt;
    font-weight: 500;
}
div.nodata{
    background: none;
}
.comment_form_btn{
    float: right;
}
.comment_change_input_btn{
    float: left;
    margin: 9px;
    font-size: 12px;
    color: #00000078;
    text-shadow: 1px 1px 3px #00000078;
    cursor: pointer;
}
.comment_form_btn > div:hover ~ button{
    transition: all .8s ease;
    background: #537895;
}
.footer{
    height: 50px;
    margin: 0px 230px;
    padding: 0px;
    width: 70%;
    min-width: 700px;
}
.comment_index_list{
    list-style: none;
    display: flex;
    flex-direction: row;
}
li.comment_index_item{
    padding: 5px 20px;
    margin: 2px 10px;
    cursor: pointer;
}
li.comment_index_item:hover{
    transition:all .4s ease;
    background: rgba(26, 139, 232, 0.39);
}
.index_active{
    font-weight: 600;
}