<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>POLLRA - TEST PAGE</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="/css/nav.css">
    <script type="text/javascript" src="/js/nav.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
</head>
<style>

</style>
<body>
<!--네비게이션-->
<div id="navigation">
    <!--로고-->
    <div class="logoContainer no-drag">
        <label class="logo">Pollra</label>
        <div class="gbookLink" onclick="location.href='/guestbook'">방명록 쓰러가기<i class="edit outline icon"></i></div>
    </div>
    <!--카테고리-->
    <div class="categoryContainer no-drag">

    </div>
    <!--내 정보-->
    <div class="loginBox no-drag">
        <div class="loginNik"></div>
        <div class="logoutBtn">로그아웃</div>
    </div>
</div>
<div class="content"></div>
</body>
</html>