<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <script type="text/javascript" src="/js/status.js"></script>
    <script type="text/javascript" src="/js/category.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myInfo.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body>

<!--네비게이션-->
<div id="navigation">
    <!--로고-->
    <div class="logoContainer no-drag">
        <label class="logo">Pollra</label>
        <div class="gbookLink" onclick="location.href='/guestbook'">방명록 쓰러가기<i class="edit outline icon"></i></div>
    </div>
    <!--카테고리-->
    <div class="categoryContainer">
    </div>
    <!--내 정보-->
    <div class="loginBox">
        <div class="loginNik"></div>
        <div class="logoutBtn"></div>
    </div>
</div>
<!-- 내 정보 네비게이션 -->
<div class="statusNav">
    <li class="no_drag" onclick="openStatus('myInfo'); return false;">내 정보</li>       <!-- myInfo -->
    <li class="no_drag" onclick="openStatus('cateInfo'); return false;">카테고리</li>       <!-- cateInfo -->
    <li class="no_drag" onclick="openStatus('gbInfo'); return false;">방명록 관리</li>     <!-- gbInfo -->
    <li class="no_drag" onclick="openStatus('boardInfo'); return false;">글</li>            <!-- boardInfo -->
    <li class="no_drag" onclick="openStatus('users'); return false;">가입 신청 유저</li>  <!-- users -->
    <li class="no_drag" onclick="openStatus('statistics'); return false;">통계</li>           <!-- statistics -->
</div>
<!-- 컨텐츠 -->
<div class="contents no_drag">
    <div class="gbInfo">
        <div class="paragraph">
            <label class="dataExplanation">
                방명록을 관리합니다. <br>
                운영자 이상의 등급만 관리할 수 있습니다.<br>
            </label>
            <button class="goGBookPage" onclick="location.href='/guestbook'">방명록 관리</button>
        </div>
    </div>
</div>

<div class="btnSet">
</div>

</body>
</html>