<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>게시물 보기</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="/m_editor/lib/marked.min.js"></script>
    <script src="/m_editor/lib/prettify.min.js"></script>
    <script src="/m_editor/lib/raphael.min.js"></script>
    <script src="/m_editor/lib/underscore.min.js"></script>
    <script src="/m_editor/lib/sequence-diagram.min.js"></script>
    <script src="/m_editor/lib/flowchart.min.js"></script>
    <script src="/m_editor/lib/jquery.flowchart.min.js"></script>
    <script src="/m_editor/editormd.js"></script>
    <script src="/js/postView.js"></script>
    <script src="/js/comment.js"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <link rel="stylesheet" href="/css/postView.css" />
    <link type="text/css" rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/m_editor/css/editormd.preview.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
</head>
<body>

<div id="navigation">
    <!--로고-->
    <div class="logoContainer no-drag">
        <label class="logo">Pollra</label>
        <div class="gbookLink" onclick="location.href='/guestbook'">방명록 쓰러가기<i class="edit outline icon"></i></div>
    </div>
    <!--카테고리-->
    <div class="categoryContainer no-drag">

    </div>
    <!--내 정보-->
    <div class="loginBox no-drag">
        <div class="loginNik"></div>
        <div class="logoutBtn">로그아웃</div>
    </div>
</div>
<div id="listContainer">
    <div id="listWrapper">
    </div>
    <div id="listNav">
    </div>
</div>
<div id="layout">
    <div id="postView">
        <!--/*@thymesVar id="content" type="com.pollra.http.board.domain.BoardVO"*/-->
        <textarea id="postViewContent" style="display:none;"></textarea>
    </div>
    <div class="postsInfo"></div>
</div>
<div class="comment">
    <!-- comment input -->
    <div class="comment_from">
        <!-- id / date-->
        <!--<div class="comment_info"></div>-->
        <!-- text area -->
        <textarea class="comment_content" id="comment_input_box" placeholder="댓글 입력"></textarea>
        <input class="comment_password" type="password" placeholder="비밀번호 입력">
        <div class="comment_form_btn">
            <div class="comment_change_input_btn" onclick="form_change();">입력모드로 변환합니다.</div>
            <button class="comment_submit" onclick="comment_create_action();">입력</button>
        </div>
    </div>
    <!-- comment view -->
    <div class="comment_view">
        <!-- 하나의 댓글-->
        <div class="comment_view_single nodata" id="comment">
            <div class="comment_view_not_found">
                <div class="comment_view_not_found_text">댓글이 존재하지 않습니다.</div>
            </div>
        </div>
    </div>
    <div class="comment_index">

    </div>
</div>
<div class="footer">
    <div></div>
</div>
</body>
</html>