<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>게시물 보기</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/nav.js"></script>
    <link rel="stylesheet" href="/css/postView.css" />
    <link type="text/css" rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/m_editor/css/editormd.preview.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
</head>
<style>
    #content{
        height: 100%; /* 테스트를 위해 스크롤 생성 */
        /*border: 1px solid slategray;*/
        border-radius: 5px;
        margin: 0px 230px;
        padding: 0px;
        width: 70%;
        min-width: 700px;
    }
</style>
<body>
<div id="navigation">
    <!--로고-->
    <div class="logoContainer no-drag">
        <label class="logo">Pollra</label>
        <div class="gbookLink" onclick="location.href='/guestbook'">방명록 쓰러가기<i class="edit outline icon"></i></div>
    </div>
    <!--카테고리-->
    <div class="categoryContainer no-drag">

    </div>
    <!--내 정보-->
    <div class="loginBox no-drag">
        <div class="loginNik"></div>
        <div class="logoutBtn">로그아웃</div>
    </div>
</div>
<div id="content">
    <label class="postViewTitleOutBox">
        <h1 id="postViewTitle"> 게시글이 존재하지 않습니다.</h1>
    </label>
    <div class="postNotFound">
        <span> 관리자가 아직 게시글을 작성하지 않았습니다. <br>
            빨리 작성하라고 재촉하러가봅시다! <button onclick="location.href='/guestbook'">방명록으로가기</button></span>
    </div>
    <div class="postsInfo"></div>
</div>
</body>
</html>